/* font-family: 'Shrikhand', cursive;
font-family: 'Magra', sans-serif; */

body{
    height:10;
    background-color:rgb(56, 56, 56);

}
main{
    height:100%;
    padding:20px;

}
header{
    padding : 20px;
    font-size : 25px;
    line-height: 30px;
    color: white;
}
h1{
    font-family: 'Magra', sans-serif;
}
h2{
    font-family: 'Shrikhand', cursive;
}

.content{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,180px);
    height: 100%;
    color: white;  
    
}

.box{
    display:grid;
    background-color:white;
}
p{
    padding:8px;
    color:black;
    font-size:15px;
}
.basketball, .bbq, .beer, .game{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    height:100%;
}
.imgbasketball{
    display:grid;
    background-size: 500px;
    background-position: 50% 50%;
    background-image:url("images/basketball.PNG");
    border-top:1px dotted black;
    background-repeat:no-repeat;
    filter:grayscale(100%);
    opacity: 0.7;
}
.imgbbq{
    display:grid;
    background-size: 500px;
    background-position: 43% 45%;
    background-image:url("images/bbq.PNG");
    border-top:1px dotted black;
    background-repeat:no-repeat;
    filter:grayscale(100%);
    opacity: 0.7;
}
.imgbeer{
    display:grid;
    background-size: 500px;
    background-position: 20% 60%;
    background-image:url("images/beer.PNG");
    border-top:1px dotted black;
    background-repeat:no-repeat;
    filter:grayscale(100%);
    opacity: 0.7;
}
.imggame{
    display:grid;
    background-size: 500px;
    background-position: 48% 55%;
    background-image:url("images/game.PNG");
    border-top:1px dotted black;
    background-repeat:no-repeat;
    filter:grayscale(100%);
    opacity: 0.7;
}
.cat, .dog, .cook,.lego{
    display:none;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 600px){
    .content{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,250px);
        height: 100%;
        color: white; 
        
    }
    main{
        height:100%;
        padding:70px;
    
    }
    p{
        padding:13px;
        color:black;
        font-size:15px;
    }
    .cat, .dog, .cook,.lego{
        display:flex;
    }

    .box{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr;
        height:100%;
        justify-content:center;
        border:1px solid black;
    }

    .imgcat{
        display:grid;
        background-size: 400px;
        background-position: 62% 60%;
        background-image:url("images/cat.PNG");
        border-top:1px dotted black;
        background-repeat:no-repeat;
        filter:grayscale(100%);
        opacity: 0.7;
    }
    .imgdog{
        display:grid;
        background-size: 400px;
        background-position: 50% 59%;
        background-image:url("images/dog.PNG");
        border-top:1px dotted black;
        background-repeat:no-repeat;
        filter:grayscale(100%);
        opacity: 0.7;
    }
    .imgcook{
        display:grid;
        background-size: 400px;
        background-position: 50% 45%;
        background-image:url("images/cook.PNG");
        border-top:1px dotted black;
        background-repeat:no-repeat;
        filter:grayscale(100%);
        opacity: 0.7;
    }
    .imglego{
        display:grid;
        background-size: 400px;
        background-position: 40% 60%;
        background-image:url("images/lego.PNG");
        border-top:1px dotted black;
        background-repeat:no-repeat;
        filter:grayscale(100%);
        opacity: 0.7;
    }
    .imgbbq{
        display:grid;
        background-size: 500px;
        background-position: 43% 48%;
        background-image:url("images/bbq.PNG");
        border-top:1px dotted black;
        background-repeat:no-repeat;
        filter:grayscale(100%);
        opacity: 0.7;
    }
    .imgbasketball,.imgbbq,.imgbeer,.imggame{
        border-top:1px dotted black;
    }
}
